<!DOCTYPE html>
<html>
<head>
<title>AstonStop</title>

<link  rel="stylesheet" href="../static/Index.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<header>

<nav class="menu-container"> 
    <div class="menu">
      <ul>
        <li>
          <a href="Index.html">
            Home
        </li>
        <li>
          <a href="Products.html">
            Products
          </b>
        </li>
        <li>
          <a href="AboutUs.html">
            About Us
          </a>
        </li>
        <li>
          <a href="ContactUs.html">
            Contact Us
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <li>
            <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
        </li>

          </a>
      </ul>
    </div>
  </nav>
</header>
<body>

 
  <div class="hero">

    <div class="content">
      <h4>Welcome to Our Website</h4>
      <h1>Aston<span>Stop</span></h1>
      <h3> WE HAVE WHAT YOU NEED! </h3>
      <button class="btn">Shop Here! &#8594; </button>
      <div class="newslatter">
      </div>
    </div>
  </div>

  </body>